body {
        padding-top: 20px;
        padding-bottom: 60px;
        font-family: 'Arapey', serif;
      }

      /* Custom container */
      .container-fluid {
        margin: 0 auto;
        max-width: 1000px;
      }
      .container-fluid > hr {
        margin: 60px 0;
      }


      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }

      .nav{
        padding-top:10px
      }

      .logo{
        height: 50px;
        width: auto;
      }

      .textc{
        text-align: center;
      }

      .sec_pel, .info{
        margin-top: 20px;
      }

      .jumbotron {
        margin: 80px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 100px;
        line-height: 1;
      }
      .jumbotron .lead {
        font-size: 24px;
        line-height: 1.25;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      .concurso{
        width: 70px;
        height: 85px;
        border: 1px solid grey;
      }

      .fleft{
        float: left;
      }

      .astyle, .astyle:hover{
        text-decoration: none;
        color: black;
      }

      #feedback { 
        font-size: 1.4em; 
      }

      #selectable .ui-selecting { 
        background: #FECA40; 
      }

      #selectable .ui-selected { 
        background: #F39814; 
        color: white; 
      }

      #selectable { 
        list-style-type: none; 
        margin: 0; 
        padding: 0; 
        width: 60%; 
      }

      #selectable li { 
        margin: 3px; 
        padding: 0.4em; 
        font-size: 1.4em; 
        height: 18px; 
      }

      #selectable2 .ui-selecting { 
        background: #FECA40; 
      }

      #selectable2 { 
        list-style-type: none; 
        margin: 0; 
        padding: 0; 
        width: 300px; 
      }

      #selectable2 li { 
        margin: 3px; 
        padding: 1px; 
        float: left; 
        width: 40px; 
        height: 40px; 
        font-size: 4em; 
        text-align: center; 
      }

      .imgPerfil, .imgCupon{
        width: 130px;
        height: 150px;
      }

      .imgCupon{
        padding-top: 50px;
      }